$primary-color: #ff8600;
$disabled-color: #eceded;
$shade-white: #ffffff;
$border-line: #dde2e4;

$gray-bg: #f8fafc;
$gray-100: #c3c7ce;

$text-body: #5b6871;
$text-action: #1d1d18;
$text-note: #84919a;
