.auth-layout {
  height: 100vh;
  width: 100vw;
  display: flex;

  &__side {
    width: 50%;
    background-color: $shade-white;
    padding: 89px 89px 0 114px;

    .logo {
      margin-bottom: 127px;
    }

    .items {
      .item {
        margin-bottom: 37px;
        display: flex;
        align-items: center;

        img {
          margin-right: 16px;
        }

        &:last-child {
          margin-bottom: 100px;
        }
      }
    }
  }

  &__main {
    width: 50%;
    background-color: $gray-bg;

    .auth-box {
      background: $shade-white;
      border: 1px solid $border-line;
      box-shadow: 10px 50px 50px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      padding: 50px;
      width: 489px;
      margin: 160px auto;

      .title {
        margin-bottom: 20px;
        h4 {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          color: $text-action;
        }

        p {
          font-size: 13px;
          margin-top: 12px;
        }
      }

      .divider {
        display: flex;
        align-items: center;
        margin: 12px 0;
        .line {
          flex: 1;
          height: 1px;
          background-color: $border-line;
        }
        .text {
          font-size: 13px;
          color: $text-body;
          padding: 0 16px;
        }
      }

      .form-row-2 {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
        margin-top: 32px;
      }

      .terms {
        color: $text-note;
        margin: 41px 0 76px 0;
      }

      .get-help {
        position: fixed;
        bottom: 97px;
        right: 112px;
      }
    }

    .confirm-box {
      background: $shade-white;
      border: 1px solid $border-line;
      box-shadow: 10px 50px 50px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      padding: 94px;
      width: 489px;
      margin: 160px auto;
      text-align: center;
      padding-bottom: 50px;

      .title {
        margin-bottom: 20px;
        h4 {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          color: $text-action;
        }

        p {
          font-size: 13px;
          margin-top: 12px;
        }
      }

      .code-row {
        display: flex;
        gap: 24px;

        input {
          width: 50px;
          height: 50px;
          border: 1px solid $border-line;
          border-radius: 10px;
          color: $text-body;
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          &:focus,
          &:valid {
            border-color: $primary-color;
            outline: none;
          }
        }
      }
    }
  }
}
